
/* contact details section */

#contact .details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 450px;
}

#contact main {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
}

#contact .details .item{
  display: flex;
  align-items: center;
  gap: 30px;
}

#contact .details .item .icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-grey);
}

/* map section inside contact */
.details .map {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 260px;
  border: 0;
  border-radius: 10px;
}

/* contact form section  */

.contact-form {
  width: 700px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.contact-form .row {
  display: flex;
  gap: 20px;
}

#message{
  height: 300px;
}

.contact-form .form-group {
  flex: 1;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: var(--btn);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--hover-blue);
}

/* responsive styles */
@media (max-width: 768px) {
  #contact main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  #contact .details{
    width: auto;
    padding: 10px;
  }

  .contact-form {
    width: 100%;
    padding: 10px;
  }

  .map {
    width: 100%;
  }

  .map iframe {
    height: 250px;
  }

  .contact-form .row {
    flex-direction: column;
  }
}
