/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-small-grey);
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin: 30px;
}

:root {
  --bg-primary: #36517e;
  --btn: #47b2e4;
  --text-grey: #bfcce4;
  --text-small-grey: #676767;
  --bg-grey: #abb2c1d4;
}

a {
  text-decoration: none;
  color: white;
}
