nav.navbar {
  background-color: var(--bg-primary);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  position: relative;
  z-index: 1000;
}

#logoname {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

nav .buttons {
  background-color: var(--btn);
  padding: 10px 30px;
  border-radius: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  
}

.nav-links a:hover{
  color: var(--btn);
  transition: 0.8s;
}

/* Mobile styles */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 28px;
  color: white;
}

.menu-toggle .close-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    display: none;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 10px 20px;
    text-align: center;
  }

  .menu-toggle.open .open-icon {
    display: none;
  }

  .menu-toggle.open .close-icon {
    display: inline;
  }
}
