/* navbar section starts */

nav {
  background-color: var(--bg-primary);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  position: relative;
  z-index: 10;
}

#logoname {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: white;
  font-weight: 500;
}

.buttons {
  background-color: var(--btn);
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
}

/* Hamburger styles */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  nav {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    flex-direction: column;
    align-items: center;
    display: none;
    gap: 20px;
    padding: 20px 0;
  }

  nav ul.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
